CARTOGRAM_SMTP_HOST=smtp.example.com
CARTOGRAM_SMTP_PORT=25
CARTOGRAM_SMTP_AUTHENTICATION_REQUIRED=TRUE
CARTOGRAM_SMTP_USER=user
CARTOGRAM_SMTP_PASSWORD=password
CARTOGRAM_SMTP_FROM_EMAIL=user@example.com
CARTOGRAM_SMTP_DESTINATION=destination@example.net
CARTOGRAM_LAMBDA_URL=
CARTOGRAM_LAMBDA_API_KEY=
CARTOGRAM_PROGRESS_SECRET=
CARTOGRAM_GA_TRACKING_ID=
CARTOGRAM_GUNICORN_WORKERS=2
CARTOGRAM_GUNICORN_OPTIONS=